.singlePost {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  background-color: #a1887f;

  p,
  h1 {
    margin: 0;
  }
}

.postDiv {
  margin-bottom: 20px;
}

.thisAuthor,
.thisTitle,
.thisTime,
.thisText {
  padding: 10px 5px;
  border-bottom: 1px dotted black;
}

.btnDiv {
  display: flex;
  justify-content: space-around;
}

.likeBtn,
.scrapBtn,
.backBtn {
  all: unset;
  width: 60px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid black;
  text-align: center;
  cursor: pointer;

  &:hover {
    background-color: beige;
  }
}
