.topDiv {
  background-color: #8b7b75;
  width: 100vw;
  height: 100vh;
  padding: 5px 0;
}

.styledDiv {
  display: flex;
  align-items: center;
  height: 35px;
  margin-bottom: 5px;
  font-size: 20px;
  background-color: #a69b97;

  input {
    border: none;
    border-radius: 5px;
    width: 80%;
    height: 90%;
    background-color: transparent;
    color: #efdcd5;
    font-size: 15px;
    font-weight: bold;

    &::placeholder {
      font-size: 15px;
    }

    &:focus {
      outline: none;
    }
  }
}

label {
  color: #efdcd5;
  margin-right: 5px;
  margin-left: 5px;
  width: 70px;
}

.loginBtn {
  display: flex;
  justify-content: center;
  background-color: #d3b8ae;
  border-radius: 10px;
  margin-bottom: 5px;

  button {
    all: unset;
    width: 100vw;
    height: 5vh;
    text-align: center;
    cursor: pointer;
  }
}

.joinLink {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #be9c91;
  border-radius: 10px;
  width: 100vw;
  height: 5vh;
  margin-bottom: 5px;
  font-size: 20px;
}
